<!DOCTYPE html>
<html lang="en">
<head>
<title>Explore Inertia City test</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="../static/styles.css">
<script src="https://cdn.plot.ly/plotly-2.11.1.min.js"></script>
</head>
<body>

<!-- Header -->
<header class="w3-display-container w3-content w3-center" style="max-width:1500px">
  <img class="w3-image" src="../static/icity.png" alt="branch" width="1500" height="600">
  <div class="w3-display-middle w3-padding-large w3-border w3-wide w3-text-light-grey w3-center">
    <h1 class="w3-hide-medium w3-hide-small w3-xxxlarge">EXPLORE INERTIA CITY</h1>
    <h5 class="w3-hide-large" style="white-space:nowrap">EXPLORE INERTIA CITY</h5>
    <h3 class="w3-hide-medium w3-hide-small">On a planet of myopicals far, far away...</h3>
  </div>
</header>
  
<!-- Page content -->
<div class="w3-content w3-padding-large w3-margin-top" id="portfolio">
  
  <div class="w3-blue w3-padding-large w3-padding-32 w3-margin-top" id="background">
    <h2 class="w3-center">Prototype 1</h2>
    <hr>
    <h4 class="w3-center">About</h4>
    <p>Version 1 of Inertia City sample uses textbook-like learning rather than interactive simulations and 
      minigames as the user progresses through the world. The hypothosis is that results from Version 1 user 
      retained knowledge survey will validate the need for gameplay and interaction in learning, rather than just optional text reading, 
      in order to be successful.
     </p>
    <h4 class="w3-center">Instructions</h4>
    <p>Enter anonymous, easy-to-remember user id so that if you leave and come back, you can pick up where you left off. </p>
    <p>When you walk by a popup and don't want to press "Start," just keep walking and it will go away</p>
    <h4 class="w3-center">Be sure to work on this research survey as you play!!!</h4>
    <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSchXHMX-eL7P9hICxiO2odYzmJgDgLX613j5zYysDaiZbC38A/viewform?embedded=true" width="640" height="4509" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
  </div>
  
  
</div>

</body>
</html>
